# This analysis is used to validate the implementation of the fiducial selections
# used in TOP-23-002.

samples: 
  # These are the central nanoAOD samples for GammaFromDecay
  fromDecay_wb_central: 
    path: root://cmsxrootd.fnal.gov//store/mc/RunIISummer20UL18NanoAODv9/
    files: TTGamma_Dilept_TuneCP5_13TeV-madgraph-pythia8/NANOAODSIM/106X_upgrade2018_realistic_v16_L1v1-v1/2430000/2380B328-78DC-6C47-81C6-BF2A9CB02219.root 
    isEFT: False 
    isCard: False
    xsec: 2.22037
    hookfile : hooks.TTG_TOP-23-002
    hooks: [ from_decay ]
    label: '#gamma from decay'

  # These are the central nanoAOD samples for GammaFromProduction
  fromProd_top_central: 
    path: root://cmsxrootd.fnal.gov//store/mc/RunIISummer20UL18NanoAODv9/
    files: TTGJets_Dilepton_TuneCP5_13TeV-amcatnloFXFX-madspin-pythia8/NANOAODSIM/106X_upgrade2018_realistic_v16_L1v1-v2/2810000/301E86F1-8C59-2445-B6B3-5B6F7F4E050F.root 
    isEFT: False 
    isCard: False
    xsec: 0.428 
    hookfile : hooks.TTG_TOP-23-002
    hooks: [ from_prod ]
    label: '#gamma from prod'

plugins: [
  plugins/common_functions.cc,
  plugins/TTG_TOP-23-002.cc
]
