# -------------------------------------------------------------------------------------------------- #
# Implemented by: Carlos Vico (carlos.vico.villalba@cern.ch)
#
# This analysis configuration is used to validate the photon categorization that is used
# in the TOP-23-002 analysis, and reimplemented for the top combination.
#
# The idea is to get the contributions from each candidate signal sample "fromProduction" and "fromDecay", and
# see how they are categorized by the plugins used in this combination. The end result must be that:
#  - Most of the events fetched from the `fromProduction` sample must be categorized in `fromISR` or `from top prod`
#  - Most of the events fetched from the `fromDecay` sample must be categorized in the `fromDecay` channels, which are three:
#     - from top decay
#     - from w or b decay in top branching
#     - from lepton decay in top branching
#  - A remnant of events are categorized in `no photon` category, which are often populated with out-of-acceptance photons.
#  - Some overlap is expected from these two samples, as pythia adds additional QED radiation that can particularly include
#  `production`-like photons in the `decay` sample.
#  - Similarly, `decay` like photons can be included in the `production` sample.
#
# -------------------------------------------------------------------------------------------------- #
shape_analysis:
  samples:
    - name: TTG_fromDecay 
      type: noEFT
      files: [
        root://cmsxrootd.fnal.gov//store/mc/RunIISummer20UL18NanoAODv9/TTGamma_Dilept_TuneCP5_13TeV-madgraph-pythia8/NANOAODSIM/106X_upgrade2018_realistic_v16_L1v1-v1/2430000/2380B328-78DC-6C47-81C6-BF2A9CB02219.root
      ] 
      xsec: 2.22037
      hookfile: hooks.TTG_TOP-23-002
      hooks: [ main_hooks ]
    
    - name: TTG_fromProd 
      type: noEFT
      files: [
        root://cmsxrootd.fnal.gov//store/mc/RunIISummer20UL18NanoAODv9/TTGJets_Dilepton_TuneCP5_13TeV-amcatnloFXFX-madspin-pythia8/NANOAODSIM/106X_upgrade2018_realistic_v16_L1v1-v2/2810000/301E86F1-8C59-2445-B6B3-5B6F7F4E050F.root
      ] 
      xsec: 0.428
      hookfile: hooks.TTG_TOP-23-002
      hooks: [ main_hooks ]

  plugins: [ 
    plugins/common_functions.cc, 
    plugins/TTG_TOP-23-002.cc 
  ]

  sel-plots: [ genphoton_categories ]

replot-inputs:
  - name: TTG_fromDecay
    label: "#gamma from decay"
    histo-decorations:
      SetFillColor: 8
      SetLineStyle: 1
      SetLineWidth: 0
  - name: TTG_fromProd 
    label: "#gamma from production"
    histo-decorations:
      SetFillColor: 9 
      SetLineStyle: 1
      SetLineWidth: 0

replot-list:
  - name: genphoton_categories
    input: /eos/user/c/cvicovil/www/top-comb/TTG_TOP-23-002/PhotonCategorization/genphoton_categories.root
    output: /eos/user/c/cvicovil/www/top-comb/TTG_TOP-23-002/PhotonCategorization/
    stack: [
      TTG_fromDecay,
      TTG_fromProd
    ]
    overline: []
    den_for_ratio: TTG_fromProd
    norm: ~
