# Define the aspects regarding the analysis
reinterpretation:

  samples:
    hooks: configs/ttgamma/hooks.py
    datasets: configs/ttgamma/datasets.yml

  # ---- Load auxiliar .cpp code used to build custom variables
  plugins:
    - plugins/eft_auxiliars.h
    - plugins/eft_auxiliars.cc
    - configs/ttgamma/ttgamma.cc

  # ---- These determine event level selections and corrections
  flow:
    name: FiducialSelectionValidation

    # This is what you want to produce
    targets:
      - { type: plots, plotfile: configs/ttgamma/plots.py, plotmodule: plots, save_snapshot : True }

    # This is the base sequence to be used for object and variable definition
    sequence:
      - { name: parton_leptons,   modules: configs/ttgamma/definitions.py, function: define_leptons_partonLevel, args: ~ }
      - { name: particle_photons, modules: configs/ttgamma/definitions.py, function: define_isolated_photons_particleLevel, args: ~ }
      - { name: particle_leptons, modules: configs/ttgamma/definitions.py, function: define_dressed_leptons_particleLevel, args: ~ }
      - { name: particle_jets,    modules: configs/ttgamma/definitions.py, function: define_jets_particleLevel, args: ~ }
      - { name: particle_bjets,   modules: configs/ttgamma/definitions.py, function: define_bjets_particleLevel, args: ~ }

    # These are used to apply a selection on top of the object definition
    selection:
      baseline:
        - { name: atleast2genlep, expr: "nFiducialLepton_particleLevel >= 2" }
        - { name: atleast2genjet, expr: "nFiducialJet_particleLevel >= 2" }
        - { name: atleast1genbjet, expr: "nFiducialBJet_particleLevel >= 1" }
        - { name: mll, expr: "(FiducialLepton_particleLevel_p4[0] + FiducialLepton_particleLevel_p4[1]).M() > 30" }
      channels:
        inclusive:
          - { "name": inclusive, expr: "nFiducialPhoton_particleLevel >= 0" }
        nophoton:
          - { "name": nophoton, expr: "nFiducialPhoton_particleLevel == 0" }
        exactly1photon:
          - { "name": exact1pho, expr: "nFiducialPhoton_particleLevel == 1" }
        exactly2photon:
          - { "name": exact2pho, expr: "nFiducialPhoton_particleLevel == 2" }
        morethan2photon:
          - { "name": more2pho, expr: "nFiducialPhoton_particleLevel > 2" }

    subflows:
      - { name: inclusive, channel: inclusive, label: '', sublabel: '' }
      - { name: nophoton, channel: nophoton, label: '0\gamma', sublabel: '' }
      - { name: exactly1photon, channel: exactly1photon, label: '1\gamma', sublabel: '' }
      - { name: exactly2photon, channel: exactly2photon, label: '2\gamma', sublabel: '' }